body {
  font-family: 'Poppins', Lucida Sans;
  background: #F8F8FF ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;


  background: url("/static/tuDelft.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.container {
  background: #1E90FF ;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  width: 400px;
  text-align: left;
  color: #fff;
  backdrop-filter: blur(12px);
}

.welcome {
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: bold;
}

.upload-section {
  margin-bottom: 10px;  /* Adjust the value to add more or less space */
}

.feedback-section {
  padding-top: 15px;  /* This will add space at the top of the feedback section */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-card {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
  margin-top: 6px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  margin-bottom: 12px;
}

textarea {
  resize: none;
}

button {
  background: #FFFFFF;
  color: #333;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background: #ffd86f;
  transform: translateY(-2px);
}

.rules-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1100;
  transition: background-color 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Close button (×) */
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}